.switch {
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.switch[data-isOn="true"] {
    justify-content: flex-end;
}

.handle {
    width: 15px;
    height: 15px;
    background-color: rgb(167, 167, 167);
    border-radius: 40px;
}